<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1>Страница со списком всех книг</h1>
    <div th:each="book : ${books.getContent()}">
        <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle() +', '
    + book.getAuthor() + ', ' + book.getYear()}"></a>
    </div>
    <br/>
    <div th:if="${books.getTotalPages() > 0}">
        <div class="pagination">
            <label>Выберите количество книг отображаемых на странице</label>
            <div th:each="size : ${numbersSize}">
                <a th:class="${size == books.getSize()} ? active"
                   th:href="@{'/books/?offset=' + ${books.getNumber()} + '&limit=' + ${size}}" th:text="${size}"></a>
            </div>
        </div>

        <div class="pagination">
            <p>Выберите станицу: </p>
            <p th:each="numberPage : ${numbersPage}">
                <a th:class="${numberPage == books.getNumber()} ? 'active'"
                   th:href="@{'/books/?offset=' + ${numberPage} + '&limit=' + ${books.getSize()}}"
                   th:text="${numberPage + 1}"></a>
            </p>
        </div>

    </div>
    <div>
        <a th:href="@{/books/new}">Добавить книгу</a>
    </div>
    <br/>
    <div>
        <a th:href="@{/people}">Перейти на страницу пользователей</a>
    </div>
</div>
</body>
</html>