<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Страница книги</h1>
<div th:object="${book}">
    <p th:text="${book.getTitle() +', '
    + book.getAuthor() + ', ' + book.getYear()}"></p>
</div>
<br/>
<div th:if="${people}">
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <p>Эта книга сейчас свободна. Кому назначить ее?</p>
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFullName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу">
    </form>
</div>
<div th:if="${owner}">
    <p>Книга сейчас у: </p>
    <p th:text="${owner.getFullName()}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>
<br/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}/delete(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>
<br/>
<a th:href="@{/books}">Выбрать книгу</a>
</body>
</html>