<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Страница человека</h1>
<div th:object="${person}">
    <p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}"></p>
</div>
<br/>
<div th:if="${person.getBookList().isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<div th:if="${!person.getBookList().isEmpty()}">
    <p>Книги:</p>
    <p th:each="book : ${person.getBookList()}" th:text="${book.getTitle() +', '
    + book.getAuthor() + ', ' + book.getYear()}"></p>
</div>
<br/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
<br/>
<a th:href="@{/books}">Перейти на страницу пользователей</a>
</body>
</html>